<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.Company">
    <id column="F_Id" jdbcType="VARCHAR" property="fId" />
    <result column="Appid" jdbcType="VARCHAR" property="appid" />
    <result column="Appkey" jdbcType="VARCHAR" property="appkey" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="Stopdate" jdbcType="TIMESTAMP" property="stopdate" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="Mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Manager" jdbcType="VARCHAR" property="manager" />
    <result column="Statu" jdbcType="BIT" property="statu" />
    <result column="F_DeleteMark" jdbcType="BIT" property="fDeletemark" />
    <result column="F_Description" jdbcType="VARCHAR" property="fDescription" />
    <result column="F_CreatorTime" jdbcType="TIMESTAMP" property="fCreatortime" />
    <result column="F_CreatorUserId" jdbcType="VARCHAR" property="fCreatoruserid" />
    <result column="F_LastModifyTime" jdbcType="TIMESTAMP" property="fLastmodifytime" />
    <result column="F_LastModifyUserId" jdbcType="VARCHAR" property="fLastmodifyuserid" />
    <result column="F_DeleteTime" jdbcType="TIMESTAMP" property="fDeletetime" />
    <result column="F_DeleteUserId" jdbcType="VARCHAR" property="fDeleteuserid" />
    <result column="Lastdate" jdbcType="TIMESTAMP" property="lastdate" />
    <result column="Downdate" jdbcType="TIMESTAMP" property="downdate" />
    <result column="Version" jdbcType="INTEGER" property="version" />
    <result column="SuppliersNum" jdbcType="INTEGER" property="suppliersnum" />
    <result column="CreateSuppliersNum" jdbcType="INTEGER" property="createsuppliersnum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    F_Id, Appid, Appkey, Name, Linkman, Type, Amount, Stopdate, Phone, Mobile, Email, 
    Address, Manager, Statu, F_DeleteMark, F_Description, F_CreatorTime, F_CreatorUserId, 
    F_LastModifyTime, F_LastModifyUserId, F_DeleteTime, F_DeleteUserId, Lastdate, Downdate, 
    Version, SuppliersNum, CreateSuppliersNum
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.CompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where F_Id = #{fId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where F_Id = #{fId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.CompanyExample">
    delete from company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.Company">
    insert into company (F_Id, Appid, Appkey, 
      Name, Linkman, Type, 
      Amount, Stopdate, Phone, 
      Mobile, Email, Address, 
      Manager, Statu, F_DeleteMark, 
      F_Description, F_CreatorTime, F_CreatorUserId, 
      F_LastModifyTime, F_LastModifyUserId, F_DeleteTime, 
      F_DeleteUserId, Lastdate, Downdate, 
      Version, SuppliersNum, CreateSuppliersNum
      )
    values (#{fId,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{stopdate,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{manager,jdbcType=VARCHAR}, #{statu,jdbcType=BIT}, #{fDeletemark,jdbcType=BIT}, 
      #{fDescription,jdbcType=VARCHAR}, #{fCreatortime,jdbcType=TIMESTAMP}, #{fCreatoruserid,jdbcType=VARCHAR}, 
      #{fLastmodifytime,jdbcType=TIMESTAMP}, #{fLastmodifyuserid,jdbcType=VARCHAR}, #{fDeletetime,jdbcType=TIMESTAMP}, 
      #{fDeleteuserid,jdbcType=VARCHAR}, #{lastdate,jdbcType=TIMESTAMP}, #{downdate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{suppliersnum,jdbcType=INTEGER}, #{createsuppliersnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_Id,
      </if>
      <if test="appid != null">
        Appid,
      </if>
      <if test="appkey != null">
        Appkey,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="linkman != null">
        Linkman,
      </if>
      <if test="type != null">
        Type,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="stopdate != null">
        Stopdate,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="mobile != null">
        Mobile,
      </if>
      <if test="email != null">
        Email,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="manager != null">
        Manager,
      </if>
      <if test="statu != null">
        Statu,
      </if>
      <if test="fDeletemark != null">
        F_DeleteMark,
      </if>
      <if test="fDescription != null">
        F_Description,
      </if>
      <if test="fCreatortime != null">
        F_CreatorTime,
      </if>
      <if test="fCreatoruserid != null">
        F_CreatorUserId,
      </if>
      <if test="fLastmodifytime != null">
        F_LastModifyTime,
      </if>
      <if test="fLastmodifyuserid != null">
        F_LastModifyUserId,
      </if>
      <if test="fDeletetime != null">
        F_DeleteTime,
      </if>
      <if test="fDeleteuserid != null">
        F_DeleteUserId,
      </if>
      <if test="lastdate != null">
        Lastdate,
      </if>
      <if test="downdate != null">
        Downdate,
      </if>
      <if test="version != null">
        Version,
      </if>
      <if test="suppliersnum != null">
        SuppliersNum,
      </if>
      <if test="createsuppliersnum != null">
        CreateSuppliersNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null">
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="stopdate != null">
        #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        #{statu,jdbcType=BIT},
      </if>
      <if test="fDeletemark != null">
        #{fDeletemark,jdbcType=BIT},
      </if>
      <if test="fDescription != null">
        #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fCreatortime != null">
        #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null">
        #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="fLastmodifytime != null">
        #{fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastmodifyuserid != null">
        #{fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="fDeletetime != null">
        #{fDeletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDeleteuserid != null">
        #{fDeleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="downdate != null">
        #{downdate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="suppliersnum != null">
        #{suppliersnum,jdbcType=INTEGER},
      </if>
      <if test="createsuppliersnum != null">
        #{createsuppliersnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.CompanyExample" resultType="java.lang.Integer">
    select count(*) from company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update company
    <set>
      <if test="record.fId != null">
        F_Id = #{record.fId,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null">
        Appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.appkey != null">
        Appkey = #{record.appkey,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null">
        Linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        Amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.stopdate != null">
        Stopdate = #{record.stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phone != null">
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        Mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null">
        Manager = #{record.manager,jdbcType=VARCHAR},
      </if>
      <if test="record.statu != null">
        Statu = #{record.statu,jdbcType=BIT},
      </if>
      <if test="record.fDeletemark != null">
        F_DeleteMark = #{record.fDeletemark,jdbcType=BIT},
      </if>
      <if test="record.fDescription != null">
        F_Description = #{record.fDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.fCreatortime != null">
        F_CreatorTime = #{record.fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fCreatoruserid != null">
        F_CreatorUserId = #{record.fCreatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="record.fLastmodifytime != null">
        F_LastModifyTime = #{record.fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fLastmodifyuserid != null">
        F_LastModifyUserId = #{record.fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.fDeletetime != null">
        F_DeleteTime = #{record.fDeletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fDeleteuserid != null">
        F_DeleteUserId = #{record.fDeleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.lastdate != null">
        Lastdate = #{record.lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downdate != null">
        Downdate = #{record.downdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        Version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.suppliersnum != null">
        SuppliersNum = #{record.suppliersnum,jdbcType=INTEGER},
      </if>
      <if test="record.createsuppliersnum != null">
        CreateSuppliersNum = #{record.createsuppliersnum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update company
    set F_Id = #{record.fId,jdbcType=VARCHAR},
      Appid = #{record.appid,jdbcType=VARCHAR},
      Appkey = #{record.appkey,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Linkman = #{record.linkman,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=VARCHAR},
      Amount = #{record.amount,jdbcType=INTEGER},
      Stopdate = #{record.stopdate,jdbcType=TIMESTAMP},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Mobile = #{record.mobile,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      Manager = #{record.manager,jdbcType=VARCHAR},
      Statu = #{record.statu,jdbcType=BIT},
      F_DeleteMark = #{record.fDeletemark,jdbcType=BIT},
      F_Description = #{record.fDescription,jdbcType=VARCHAR},
      F_CreatorTime = #{record.fCreatortime,jdbcType=TIMESTAMP},
      F_CreatorUserId = #{record.fCreatoruserid,jdbcType=VARCHAR},
      F_LastModifyTime = #{record.fLastmodifytime,jdbcType=TIMESTAMP},
      F_LastModifyUserId = #{record.fLastmodifyuserid,jdbcType=VARCHAR},
      F_DeleteTime = #{record.fDeletetime,jdbcType=TIMESTAMP},
      F_DeleteUserId = #{record.fDeleteuserid,jdbcType=VARCHAR},
      Lastdate = #{record.lastdate,jdbcType=TIMESTAMP},
      Downdate = #{record.downdate,jdbcType=TIMESTAMP},
      Version = #{record.version,jdbcType=INTEGER},
      SuppliersNum = #{record.suppliersnum,jdbcType=INTEGER},
      CreateSuppliersNum = #{record.createsuppliersnum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ykxj.zfine.model.Company">
    update company
    <set>
      <if test="appid != null">
        Appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null">
        Appkey = #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        Linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="stopdate != null">
        Stopdate = #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        Manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        Statu = #{statu,jdbcType=BIT},
      </if>
      <if test="fDeletemark != null">
        F_DeleteMark = #{fDeletemark,jdbcType=BIT},
      </if>
      <if test="fDescription != null">
        F_Description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fCreatortime != null">
        F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null">
        F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="fLastmodifytime != null">
        F_LastModifyTime = #{fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastmodifyuserid != null">
        F_LastModifyUserId = #{fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="fDeletetime != null">
        F_DeleteTime = #{fDeletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDeleteuserid != null">
        F_DeleteUserId = #{fDeleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        Lastdate = #{lastdate,jdbcType=TIMESTAMP},
      </if>
      <if test="downdate != null">
        Downdate = #{downdate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=INTEGER},
      </if>
      <if test="suppliersnum != null">
        SuppliersNum = #{suppliersnum,jdbcType=INTEGER},
      </if>
      <if test="createsuppliersnum != null">
        CreateSuppliersNum = #{createsuppliersnum,jdbcType=INTEGER},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ykxj.zfine.model.Company">
    update company
    set Appid = #{appid,jdbcType=VARCHAR},
      Appkey = #{appkey,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Linkman = #{linkman,jdbcType=VARCHAR},
      Type = #{type,jdbcType=VARCHAR},
      Amount = #{amount,jdbcType=INTEGER},
      Stopdate = #{stopdate,jdbcType=TIMESTAMP},
      Phone = #{phone,jdbcType=VARCHAR},
      Mobile = #{mobile,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Manager = #{manager,jdbcType=VARCHAR},
      Statu = #{statu,jdbcType=BIT},
      F_DeleteMark = #{fDeletemark,jdbcType=BIT},
      F_Description = #{fDescription,jdbcType=VARCHAR},
      F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR},
      F_LastModifyTime = #{fLastmodifytime,jdbcType=TIMESTAMP},
      F_LastModifyUserId = #{fLastmodifyuserid,jdbcType=VARCHAR},
      F_DeleteTime = #{fDeletetime,jdbcType=TIMESTAMP},
      F_DeleteUserId = #{fDeleteuserid,jdbcType=VARCHAR},
      Lastdate = #{lastdate,jdbcType=TIMESTAMP},
      Downdate = #{downdate,jdbcType=TIMESTAMP},
      Version = #{version,jdbcType=INTEGER},
      SuppliersNum = #{suppliersnum,jdbcType=INTEGER},
      CreateSuppliersNum = #{createsuppliersnum,jdbcType=INTEGER}
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
</mapper>