<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.PbcatvldMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.Pbcatvld">
    <result column="pbv_name" jdbcType="VARCHAR" property="pbvName" />
    <result column="pbv_vald" jdbcType="VARCHAR" property="pbvVald" />
    <result column="pbv_type" jdbcType="INTEGER" property="pbvType" />
    <result column="pbv_cntr" jdbcType="INTEGER" property="pbvCntr" />
    <result column="pbv_msg" jdbcType="VARCHAR" property="pbvMsg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pbv_name, pbv_vald, pbv_type, pbv_cntr, pbv_msg
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.PbcatvldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pbcatvld
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.PbcatvldExample">
    delete from pbcatvld
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.Pbcatvld">
    insert into pbcatvld (pbv_name, pbv_vald, pbv_type, 
      pbv_cntr, pbv_msg)
    values (#{pbvName,jdbcType=VARCHAR}, #{pbvVald,jdbcType=VARCHAR}, #{pbvType,jdbcType=INTEGER}, 
      #{pbvCntr,jdbcType=INTEGER}, #{pbvMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.Pbcatvld">
    insert into pbcatvld
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pbvName != null">
        pbv_name,
      </if>
      <if test="pbvVald != null">
        pbv_vald,
      </if>
      <if test="pbvType != null">
        pbv_type,
      </if>
      <if test="pbvCntr != null">
        pbv_cntr,
      </if>
      <if test="pbvMsg != null">
        pbv_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pbvName != null">
        #{pbvName,jdbcType=VARCHAR},
      </if>
      <if test="pbvVald != null">
        #{pbvVald,jdbcType=VARCHAR},
      </if>
      <if test="pbvType != null">
        #{pbvType,jdbcType=INTEGER},
      </if>
      <if test="pbvCntr != null">
        #{pbvCntr,jdbcType=INTEGER},
      </if>
      <if test="pbvMsg != null">
        #{pbvMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.PbcatvldExample" resultType="java.lang.Integer">
    select count(*) from pbcatvld
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pbcatvld
    <set>
      <if test="record.pbvName != null">
        pbv_name = #{record.pbvName,jdbcType=VARCHAR},
      </if>
      <if test="record.pbvVald != null">
        pbv_vald = #{record.pbvVald,jdbcType=VARCHAR},
      </if>
      <if test="record.pbvType != null">
        pbv_type = #{record.pbvType,jdbcType=INTEGER},
      </if>
      <if test="record.pbvCntr != null">
        pbv_cntr = #{record.pbvCntr,jdbcType=INTEGER},
      </if>
      <if test="record.pbvMsg != null">
        pbv_msg = #{record.pbvMsg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pbcatvld
    set pbv_name = #{record.pbvName,jdbcType=VARCHAR},
      pbv_vald = #{record.pbvVald,jdbcType=VARCHAR},
      pbv_type = #{record.pbvType,jdbcType=INTEGER},
      pbv_cntr = #{record.pbvCntr,jdbcType=INTEGER},
      pbv_msg = #{record.pbvMsg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>