<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.PbcatedtMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.Pbcatedt">
    <result column="pbe_name" jdbcType="VARCHAR" property="pbeName" />
    <result column="pbe_edit" jdbcType="VARCHAR" property="pbeEdit" />
    <result column="pbe_type" jdbcType="INTEGER" property="pbeType" />
    <result column="pbe_cntr" jdbcType="INTEGER" property="pbeCntr" />
    <result column="pbe_seqn" jdbcType="INTEGER" property="pbeSeqn" />
    <result column="pbe_flag" jdbcType="INTEGER" property="pbeFlag" />
    <result column="pbe_work" jdbcType="VARCHAR" property="pbeWork" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pbe_name, pbe_edit, pbe_type, pbe_cntr, pbe_seqn, pbe_flag, pbe_work
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.PbcatedtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pbcatedt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.PbcatedtExample">
    delete from pbcatedt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.Pbcatedt">
    insert into pbcatedt (pbe_name, pbe_edit, pbe_type, 
      pbe_cntr, pbe_seqn, pbe_flag, 
      pbe_work)
    values (#{pbeName,jdbcType=VARCHAR}, #{pbeEdit,jdbcType=VARCHAR}, #{pbeType,jdbcType=INTEGER}, 
      #{pbeCntr,jdbcType=INTEGER}, #{pbeSeqn,jdbcType=INTEGER}, #{pbeFlag,jdbcType=INTEGER}, 
      #{pbeWork,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.Pbcatedt">
    insert into pbcatedt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pbeName != null">
        pbe_name,
      </if>
      <if test="pbeEdit != null">
        pbe_edit,
      </if>
      <if test="pbeType != null">
        pbe_type,
      </if>
      <if test="pbeCntr != null">
        pbe_cntr,
      </if>
      <if test="pbeSeqn != null">
        pbe_seqn,
      </if>
      <if test="pbeFlag != null">
        pbe_flag,
      </if>
      <if test="pbeWork != null">
        pbe_work,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pbeName != null">
        #{pbeName,jdbcType=VARCHAR},
      </if>
      <if test="pbeEdit != null">
        #{pbeEdit,jdbcType=VARCHAR},
      </if>
      <if test="pbeType != null">
        #{pbeType,jdbcType=INTEGER},
      </if>
      <if test="pbeCntr != null">
        #{pbeCntr,jdbcType=INTEGER},
      </if>
      <if test="pbeSeqn != null">
        #{pbeSeqn,jdbcType=INTEGER},
      </if>
      <if test="pbeFlag != null">
        #{pbeFlag,jdbcType=INTEGER},
      </if>
      <if test="pbeWork != null">
        #{pbeWork,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.PbcatedtExample" resultType="java.lang.Integer">
    select count(*) from pbcatedt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pbcatedt
    <set>
      <if test="record.pbeName != null">
        pbe_name = #{record.pbeName,jdbcType=VARCHAR},
      </if>
      <if test="record.pbeEdit != null">
        pbe_edit = #{record.pbeEdit,jdbcType=VARCHAR},
      </if>
      <if test="record.pbeType != null">
        pbe_type = #{record.pbeType,jdbcType=INTEGER},
      </if>
      <if test="record.pbeCntr != null">
        pbe_cntr = #{record.pbeCntr,jdbcType=INTEGER},
      </if>
      <if test="record.pbeSeqn != null">
        pbe_seqn = #{record.pbeSeqn,jdbcType=INTEGER},
      </if>
      <if test="record.pbeFlag != null">
        pbe_flag = #{record.pbeFlag,jdbcType=INTEGER},
      </if>
      <if test="record.pbeWork != null">
        pbe_work = #{record.pbeWork,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pbcatedt
    set pbe_name = #{record.pbeName,jdbcType=VARCHAR},
      pbe_edit = #{record.pbeEdit,jdbcType=VARCHAR},
      pbe_type = #{record.pbeType,jdbcType=INTEGER},
      pbe_cntr = #{record.pbeCntr,jdbcType=INTEGER},
      pbe_seqn = #{record.pbeSeqn,jdbcType=INTEGER},
      pbe_flag = #{record.pbeFlag,jdbcType=INTEGER},
      pbe_work = #{record.pbeWork,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>