<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.PbcatcolMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.Pbcatcol">
    <result column="pbc_tnam" jdbcType="VARCHAR" property="pbcTnam" />
    <result column="pbc_tid" jdbcType="INTEGER" property="pbcTid" />
    <result column="pbc_ownr" jdbcType="VARCHAR" property="pbcOwnr" />
    <result column="pbc_cnam" jdbcType="VARCHAR" property="pbcCnam" />
    <result column="pbc_cid" jdbcType="INTEGER" property="pbcCid" />
    <result column="pbc_labl" jdbcType="VARCHAR" property="pbcLabl" />
    <result column="pbc_lpos" jdbcType="INTEGER" property="pbcLpos" />
    <result column="pbc_hdr" jdbcType="VARCHAR" property="pbcHdr" />
    <result column="pbc_hpos" jdbcType="INTEGER" property="pbcHpos" />
    <result column="pbc_jtfy" jdbcType="INTEGER" property="pbcJtfy" />
    <result column="pbc_mask" jdbcType="VARCHAR" property="pbcMask" />
    <result column="pbc_case" jdbcType="INTEGER" property="pbcCase" />
    <result column="pbc_hght" jdbcType="INTEGER" property="pbcHght" />
    <result column="pbc_wdth" jdbcType="INTEGER" property="pbcWdth" />
    <result column="pbc_ptrn" jdbcType="VARCHAR" property="pbcPtrn" />
    <result column="pbc_bmap" jdbcType="VARCHAR" property="pbcBmap" />
    <result column="pbc_init" jdbcType="VARCHAR" property="pbcInit" />
    <result column="pbc_cmnt" jdbcType="VARCHAR" property="pbcCmnt" />
    <result column="pbc_edit" jdbcType="VARCHAR" property="pbcEdit" />
    <result column="pbc_tag" jdbcType="VARCHAR" property="pbcTag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pbc_tnam, pbc_tid, pbc_ownr, pbc_cnam, pbc_cid, pbc_labl, pbc_lpos, pbc_hdr, pbc_hpos, 
    pbc_jtfy, pbc_mask, pbc_case, pbc_hght, pbc_wdth, pbc_ptrn, pbc_bmap, pbc_init, pbc_cmnt, 
    pbc_edit, pbc_tag
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.PbcatcolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pbcatcol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.PbcatcolExample">
    delete from pbcatcol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.Pbcatcol">
    insert into pbcatcol (pbc_tnam, pbc_tid, pbc_ownr, 
      pbc_cnam, pbc_cid, pbc_labl, 
      pbc_lpos, pbc_hdr, pbc_hpos, 
      pbc_jtfy, pbc_mask, pbc_case, 
      pbc_hght, pbc_wdth, pbc_ptrn, 
      pbc_bmap, pbc_init, pbc_cmnt, 
      pbc_edit, pbc_tag)
    values (#{pbcTnam,jdbcType=VARCHAR}, #{pbcTid,jdbcType=INTEGER}, #{pbcOwnr,jdbcType=VARCHAR}, 
      #{pbcCnam,jdbcType=VARCHAR}, #{pbcCid,jdbcType=INTEGER}, #{pbcLabl,jdbcType=VARCHAR}, 
      #{pbcLpos,jdbcType=INTEGER}, #{pbcHdr,jdbcType=VARCHAR}, #{pbcHpos,jdbcType=INTEGER}, 
      #{pbcJtfy,jdbcType=INTEGER}, #{pbcMask,jdbcType=VARCHAR}, #{pbcCase,jdbcType=INTEGER}, 
      #{pbcHght,jdbcType=INTEGER}, #{pbcWdth,jdbcType=INTEGER}, #{pbcPtrn,jdbcType=VARCHAR}, 
      #{pbcBmap,jdbcType=VARCHAR}, #{pbcInit,jdbcType=VARCHAR}, #{pbcCmnt,jdbcType=VARCHAR}, 
      #{pbcEdit,jdbcType=VARCHAR}, #{pbcTag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.Pbcatcol">
    insert into pbcatcol
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pbcTnam != null">
        pbc_tnam,
      </if>
      <if test="pbcTid != null">
        pbc_tid,
      </if>
      <if test="pbcOwnr != null">
        pbc_ownr,
      </if>
      <if test="pbcCnam != null">
        pbc_cnam,
      </if>
      <if test="pbcCid != null">
        pbc_cid,
      </if>
      <if test="pbcLabl != null">
        pbc_labl,
      </if>
      <if test="pbcLpos != null">
        pbc_lpos,
      </if>
      <if test="pbcHdr != null">
        pbc_hdr,
      </if>
      <if test="pbcHpos != null">
        pbc_hpos,
      </if>
      <if test="pbcJtfy != null">
        pbc_jtfy,
      </if>
      <if test="pbcMask != null">
        pbc_mask,
      </if>
      <if test="pbcCase != null">
        pbc_case,
      </if>
      <if test="pbcHght != null">
        pbc_hght,
      </if>
      <if test="pbcWdth != null">
        pbc_wdth,
      </if>
      <if test="pbcPtrn != null">
        pbc_ptrn,
      </if>
      <if test="pbcBmap != null">
        pbc_bmap,
      </if>
      <if test="pbcInit != null">
        pbc_init,
      </if>
      <if test="pbcCmnt != null">
        pbc_cmnt,
      </if>
      <if test="pbcEdit != null">
        pbc_edit,
      </if>
      <if test="pbcTag != null">
        pbc_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pbcTnam != null">
        #{pbcTnam,jdbcType=VARCHAR},
      </if>
      <if test="pbcTid != null">
        #{pbcTid,jdbcType=INTEGER},
      </if>
      <if test="pbcOwnr != null">
        #{pbcOwnr,jdbcType=VARCHAR},
      </if>
      <if test="pbcCnam != null">
        #{pbcCnam,jdbcType=VARCHAR},
      </if>
      <if test="pbcCid != null">
        #{pbcCid,jdbcType=INTEGER},
      </if>
      <if test="pbcLabl != null">
        #{pbcLabl,jdbcType=VARCHAR},
      </if>
      <if test="pbcLpos != null">
        #{pbcLpos,jdbcType=INTEGER},
      </if>
      <if test="pbcHdr != null">
        #{pbcHdr,jdbcType=VARCHAR},
      </if>
      <if test="pbcHpos != null">
        #{pbcHpos,jdbcType=INTEGER},
      </if>
      <if test="pbcJtfy != null">
        #{pbcJtfy,jdbcType=INTEGER},
      </if>
      <if test="pbcMask != null">
        #{pbcMask,jdbcType=VARCHAR},
      </if>
      <if test="pbcCase != null">
        #{pbcCase,jdbcType=INTEGER},
      </if>
      <if test="pbcHght != null">
        #{pbcHght,jdbcType=INTEGER},
      </if>
      <if test="pbcWdth != null">
        #{pbcWdth,jdbcType=INTEGER},
      </if>
      <if test="pbcPtrn != null">
        #{pbcPtrn,jdbcType=VARCHAR},
      </if>
      <if test="pbcBmap != null">
        #{pbcBmap,jdbcType=VARCHAR},
      </if>
      <if test="pbcInit != null">
        #{pbcInit,jdbcType=VARCHAR},
      </if>
      <if test="pbcCmnt != null">
        #{pbcCmnt,jdbcType=VARCHAR},
      </if>
      <if test="pbcEdit != null">
        #{pbcEdit,jdbcType=VARCHAR},
      </if>
      <if test="pbcTag != null">
        #{pbcTag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.PbcatcolExample" resultType="java.lang.Integer">
    select count(*) from pbcatcol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pbcatcol
    <set>
      <if test="record.pbcTnam != null">
        pbc_tnam = #{record.pbcTnam,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcTid != null">
        pbc_tid = #{record.pbcTid,jdbcType=INTEGER},
      </if>
      <if test="record.pbcOwnr != null">
        pbc_ownr = #{record.pbcOwnr,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcCnam != null">
        pbc_cnam = #{record.pbcCnam,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcCid != null">
        pbc_cid = #{record.pbcCid,jdbcType=INTEGER},
      </if>
      <if test="record.pbcLabl != null">
        pbc_labl = #{record.pbcLabl,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcLpos != null">
        pbc_lpos = #{record.pbcLpos,jdbcType=INTEGER},
      </if>
      <if test="record.pbcHdr != null">
        pbc_hdr = #{record.pbcHdr,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcHpos != null">
        pbc_hpos = #{record.pbcHpos,jdbcType=INTEGER},
      </if>
      <if test="record.pbcJtfy != null">
        pbc_jtfy = #{record.pbcJtfy,jdbcType=INTEGER},
      </if>
      <if test="record.pbcMask != null">
        pbc_mask = #{record.pbcMask,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcCase != null">
        pbc_case = #{record.pbcCase,jdbcType=INTEGER},
      </if>
      <if test="record.pbcHght != null">
        pbc_hght = #{record.pbcHght,jdbcType=INTEGER},
      </if>
      <if test="record.pbcWdth != null">
        pbc_wdth = #{record.pbcWdth,jdbcType=INTEGER},
      </if>
      <if test="record.pbcPtrn != null">
        pbc_ptrn = #{record.pbcPtrn,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcBmap != null">
        pbc_bmap = #{record.pbcBmap,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcInit != null">
        pbc_init = #{record.pbcInit,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcCmnt != null">
        pbc_cmnt = #{record.pbcCmnt,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcEdit != null">
        pbc_edit = #{record.pbcEdit,jdbcType=VARCHAR},
      </if>
      <if test="record.pbcTag != null">
        pbc_tag = #{record.pbcTag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pbcatcol
    set pbc_tnam = #{record.pbcTnam,jdbcType=VARCHAR},
      pbc_tid = #{record.pbcTid,jdbcType=INTEGER},
      pbc_ownr = #{record.pbcOwnr,jdbcType=VARCHAR},
      pbc_cnam = #{record.pbcCnam,jdbcType=VARCHAR},
      pbc_cid = #{record.pbcCid,jdbcType=INTEGER},
      pbc_labl = #{record.pbcLabl,jdbcType=VARCHAR},
      pbc_lpos = #{record.pbcLpos,jdbcType=INTEGER},
      pbc_hdr = #{record.pbcHdr,jdbcType=VARCHAR},
      pbc_hpos = #{record.pbcHpos,jdbcType=INTEGER},
      pbc_jtfy = #{record.pbcJtfy,jdbcType=INTEGER},
      pbc_mask = #{record.pbcMask,jdbcType=VARCHAR},
      pbc_case = #{record.pbcCase,jdbcType=INTEGER},
      pbc_hght = #{record.pbcHght,jdbcType=INTEGER},
      pbc_wdth = #{record.pbcWdth,jdbcType=INTEGER},
      pbc_ptrn = #{record.pbcPtrn,jdbcType=VARCHAR},
      pbc_bmap = #{record.pbcBmap,jdbcType=VARCHAR},
      pbc_init = #{record.pbcInit,jdbcType=VARCHAR},
      pbc_cmnt = #{record.pbcCmnt,jdbcType=VARCHAR},
      pbc_edit = #{record.pbcEdit,jdbcType=VARCHAR},
      pbc_tag = #{record.pbcTag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>