<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.RatechangeChiMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.RatechangeChi">
    <id column="nd" jdbcType="INTEGER" property="nd" />
    <result column="Appid" jdbcType="VARCHAR" property="appid" />
    <result column="Id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="rate_old" jdbcType="DECIMAL" property="rateOld" />
    <result column="rate_new" jdbcType="DECIMAL" property="rateNew" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nd, Appid, Id, code, barcode, rate_old, rate_new, price
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.RatechangeChiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ratechange_chi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ratechange_chi
    where nd = #{nd,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ratechange_chi
    where nd = #{nd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.RatechangeChiExample">
    delete from ratechange_chi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.RatechangeChi">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ratechange_chi (nd, Appidcode, 
      barcode, rate_old, rate_new, 
      price)
    values (#{nd,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}#{code,jdbcType=VARCHAR}, 
      #{barcode,jdbcType=VARCHAR}, #{rateOld,jdbcType=DECIMAL}, #{rateNew,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.RatechangeChi">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ratechange_chi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nd != null">
        nd,
      </if>
      <if test="appid != null">
        Appid,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="rateOld != null">
        rate_old,
      </if>
      <if test="rateNew != null">
        rate_new,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nd != null">
        #{nd,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="rateOld != null">
        #{rateOld,jdbcType=DECIMAL},
      </if>
      <if test="rateNew != null">
        #{rateNew,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.RatechangeChiExample" resultType="java.lang.Integer">
    select count(*) from ratechange_chi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ratechange_chi
    <set>
      <if test="record.nd != null">
        nd = #{record.nd,jdbcType=INTEGER},
      </if>
      <if test="record.appid != null">
        Appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.barcode != null">
        barcode = #{record.barcode,jdbcType=VARCHAR},
      </if>
      <if test="record.rateOld != null">
        rate_old = #{record.rateOld,jdbcType=DECIMAL},
      </if>
      <if test="record.rateNew != null">
        rate_new = #{record.rateNew,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ratechange_chi
    set nd = #{record.nd,jdbcType=INTEGER},
      Appid = #{record.appid,jdbcType=VARCHAR},
      Id = #{record.id,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      barcode = #{record.barcode,jdbcType=VARCHAR},
      rate_old = #{record.rateOld,jdbcType=DECIMAL},
      rate_new = #{record.rateNew,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ykxj.zfine.model.RatechangeChi">
    update ratechange_chi
    <set>
      <if test="appid != null">
        Appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        Id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="rateOld != null">
        rate_old = #{rateOld,jdbcType=DECIMAL},
      </if>
      <if test="rateNew != null">
        rate_new = #{rateNew,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where nd = #{nd,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ykxj.zfine.model.RatechangeChi">
    update ratechange_chi
    set Appid = #{appid,jdbcType=VARCHAR},
      Id = #{id,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      rate_old = #{rateOld,jdbcType=DECIMAL},
      rate_new = #{rateNew,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL}
    where nd = #{nd,jdbcType=INTEGER}
  </update>
</mapper>