<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.SysRoleauthorizeMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.SysRoleauthorize">
    <id column="F_Id" jdbcType="VARCHAR" property="fId" />
    <result column="F_ItemType" jdbcType="INTEGER" property="fItemtype" />
    <result column="F_ItemId" jdbcType="VARCHAR" property="fItemid" />
    <result column="F_ObjectType" jdbcType="INTEGER" property="fObjecttype" />
    <result column="F_ObjectId" jdbcType="VARCHAR" property="fObjectid" />
    <result column="F_SortCode" jdbcType="INTEGER" property="fSortcode" />
    <result column="F_CreatorTime" jdbcType="TIMESTAMP" property="fCreatortime" />
    <result column="F_CreatorUserId" jdbcType="VARCHAR" property="fCreatoruserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    F_Id, F_ItemType, F_ItemId, F_ObjectType, F_ObjectId, F_SortCode, F_CreatorTime, 
    F_CreatorUserId
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.SysRoleauthorizeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_roleauthorize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_roleauthorize
    where F_Id = #{fId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_roleauthorize
    where F_Id = #{fId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.SysRoleauthorizeExample">
    delete from sys_roleauthorize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.SysRoleauthorize">
    insert into sys_roleauthorize (F_Id, F_ItemType, F_ItemId, 
      F_ObjectType, F_ObjectId, F_SortCode, 
      F_CreatorTime, F_CreatorUserId)
    values (#{fId,jdbcType=VARCHAR}, #{fItemtype,jdbcType=INTEGER}, #{fItemid,jdbcType=VARCHAR}, 
      #{fObjecttype,jdbcType=INTEGER}, #{fObjectid,jdbcType=VARCHAR}, #{fSortcode,jdbcType=INTEGER}, 
      #{fCreatortime,jdbcType=TIMESTAMP}, #{fCreatoruserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.SysRoleauthorize">
    insert into sys_roleauthorize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_Id,
      </if>
      <if test="fItemtype != null">
        F_ItemType,
      </if>
      <if test="fItemid != null">
        F_ItemId,
      </if>
      <if test="fObjecttype != null">
        F_ObjectType,
      </if>
      <if test="fObjectid != null">
        F_ObjectId,
      </if>
      <if test="fSortcode != null">
        F_SortCode,
      </if>
      <if test="fCreatortime != null">
        F_CreatorTime,
      </if>
      <if test="fCreatoruserid != null">
        F_CreatorUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fItemtype != null">
        #{fItemtype,jdbcType=INTEGER},
      </if>
      <if test="fItemid != null">
        #{fItemid,jdbcType=VARCHAR},
      </if>
      <if test="fObjecttype != null">
        #{fObjecttype,jdbcType=INTEGER},
      </if>
      <if test="fObjectid != null">
        #{fObjectid,jdbcType=VARCHAR},
      </if>
      <if test="fSortcode != null">
        #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fCreatortime != null">
        #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null">
        #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.SysRoleauthorizeExample" resultType="java.lang.Integer">
    select count(*) from sys_roleauthorize
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_roleauthorize
    <set>
      <if test="record.fId != null">
        F_Id = #{record.fId,jdbcType=VARCHAR},
      </if>
      <if test="record.fItemtype != null">
        F_ItemType = #{record.fItemtype,jdbcType=INTEGER},
      </if>
      <if test="record.fItemid != null">
        F_ItemId = #{record.fItemid,jdbcType=VARCHAR},
      </if>
      <if test="record.fObjecttype != null">
        F_ObjectType = #{record.fObjecttype,jdbcType=INTEGER},
      </if>
      <if test="record.fObjectid != null">
        F_ObjectId = #{record.fObjectid,jdbcType=VARCHAR},
      </if>
      <if test="record.fSortcode != null">
        F_SortCode = #{record.fSortcode,jdbcType=INTEGER},
      </if>
      <if test="record.fCreatortime != null">
        F_CreatorTime = #{record.fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fCreatoruserid != null">
        F_CreatorUserId = #{record.fCreatoruserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_roleauthorize
    set F_Id = #{record.fId,jdbcType=VARCHAR},
      F_ItemType = #{record.fItemtype,jdbcType=INTEGER},
      F_ItemId = #{record.fItemid,jdbcType=VARCHAR},
      F_ObjectType = #{record.fObjecttype,jdbcType=INTEGER},
      F_ObjectId = #{record.fObjectid,jdbcType=VARCHAR},
      F_SortCode = #{record.fSortcode,jdbcType=INTEGER},
      F_CreatorTime = #{record.fCreatortime,jdbcType=TIMESTAMP},
      F_CreatorUserId = #{record.fCreatoruserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ykxj.zfine.model.SysRoleauthorize">
    update sys_roleauthorize
    <set>
      <if test="fItemtype != null">
        F_ItemType = #{fItemtype,jdbcType=INTEGER},
      </if>
      <if test="fItemid != null">
        F_ItemId = #{fItemid,jdbcType=VARCHAR},
      </if>
      <if test="fObjecttype != null">
        F_ObjectType = #{fObjecttype,jdbcType=INTEGER},
      </if>
      <if test="fObjectid != null">
        F_ObjectId = #{fObjectid,jdbcType=VARCHAR},
      </if>
      <if test="fSortcode != null">
        F_SortCode = #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fCreatortime != null">
        F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null">
        F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ykxj.zfine.model.SysRoleauthorize">
    update sys_roleauthorize
    set F_ItemType = #{fItemtype,jdbcType=INTEGER},
      F_ItemId = #{fItemid,jdbcType=VARCHAR},
      F_ObjectType = #{fObjecttype,jdbcType=INTEGER},
      F_ObjectId = #{fObjectid,jdbcType=VARCHAR},
      F_SortCode = #{fSortcode,jdbcType=INTEGER},
      F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR}
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
</mapper>