<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykxj.zfine.dao.mysql.SysUserlogonMapper">
  <resultMap id="BaseResultMap" type="com.ykxj.zfine.model.SysUserlogon">
    <id column="F_Id" jdbcType="VARCHAR" property="fId" />
    <result column="F_UserId" jdbcType="VARCHAR" property="fUserid" />
    <result column="F_UserPassword" jdbcType="VARCHAR" property="fUserpassword" />
    <result column="F_UserSecretkey" jdbcType="VARCHAR" property="fUsersecretkey" />
    <result column="F_AllowStartTime" jdbcType="TIMESTAMP" property="fAllowstarttime" />
    <result column="F_AllowEndTime" jdbcType="TIMESTAMP" property="fAllowendtime" />
    <result column="F_LockStartDate" jdbcType="TIMESTAMP" property="fLockstartdate" />
    <result column="F_LockEndDate" jdbcType="TIMESTAMP" property="fLockenddate" />
    <result column="F_FirstVisitTime" jdbcType="TIMESTAMP" property="fFirstvisittime" />
    <result column="F_PreviousVisitTime" jdbcType="TIMESTAMP" property="fPreviousvisittime" />
    <result column="F_LastVisitTime" jdbcType="TIMESTAMP" property="fLastvisittime" />
    <result column="F_ChangePasswordDate" jdbcType="TIMESTAMP" property="fChangepassworddate" />
    <result column="F_MultiUserLogin" jdbcType="BIT" property="fMultiuserlogin" />
    <result column="F_LogOnCount" jdbcType="INTEGER" property="fLogoncount" />
    <result column="F_UserOnLine" jdbcType="BIT" property="fUseronline" />
    <result column="F_Question" jdbcType="VARCHAR" property="fQuestion" />
    <result column="F_AnswerQuestion" jdbcType="VARCHAR" property="fAnswerquestion" />
    <result column="F_CheckIPAddress" jdbcType="BIT" property="fCheckipaddress" />
    <result column="F_Language" jdbcType="VARCHAR" property="fLanguage" />
    <result column="F_Theme" jdbcType="VARCHAR" property="fTheme" />
    <result column="PasswordPlaintext" jdbcType="VARCHAR" property="passwordplaintext" />
    <result column="PasswordStatue" jdbcType="BIT" property="passwordstatue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    F_Id, F_UserId, F_UserPassword, F_UserSecretkey, F_AllowStartTime, F_AllowEndTime, 
    F_LockStartDate, F_LockEndDate, F_FirstVisitTime, F_PreviousVisitTime, F_LastVisitTime, 
    F_ChangePasswordDate, F_MultiUserLogin, F_LogOnCount, F_UserOnLine, F_Question, F_AnswerQuestion, 
    F_CheckIPAddress, F_Language, F_Theme, PasswordPlaintext, PasswordStatue
  </sql>
  <select id="selectByExample" parameterType="com.ykxj.zfine.model.SysUserlogonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_userlogon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_userlogon
    where F_Id = #{fId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_userlogon
    where F_Id = #{fId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ykxj.zfine.model.SysUserlogonExample">
    delete from sys_userlogon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ykxj.zfine.model.SysUserlogon">
    insert into sys_userlogon (F_Id, F_UserId, F_UserPassword, 
      F_UserSecretkey, F_AllowStartTime, F_AllowEndTime, 
      F_LockStartDate, F_LockEndDate, F_FirstVisitTime, 
      F_PreviousVisitTime, F_LastVisitTime, 
      F_ChangePasswordDate, F_MultiUserLogin, F_LogOnCount, 
      F_UserOnLine, F_Question, F_AnswerQuestion, 
      F_CheckIPAddress, F_Language, F_Theme, 
      PasswordPlaintext, PasswordStatue)
    values (#{fId,jdbcType=VARCHAR}, #{fUserid,jdbcType=VARCHAR}, #{fUserpassword,jdbcType=VARCHAR}, 
      #{fUsersecretkey,jdbcType=VARCHAR}, #{fAllowstarttime,jdbcType=TIMESTAMP}, #{fAllowendtime,jdbcType=TIMESTAMP}, 
      #{fLockstartdate,jdbcType=TIMESTAMP}, #{fLockenddate,jdbcType=TIMESTAMP}, #{fFirstvisittime,jdbcType=TIMESTAMP}, 
      #{fPreviousvisittime,jdbcType=TIMESTAMP}, #{fLastvisittime,jdbcType=TIMESTAMP}, 
      #{fChangepassworddate,jdbcType=TIMESTAMP}, #{fMultiuserlogin,jdbcType=BIT}, #{fLogoncount,jdbcType=INTEGER}, 
      #{fUseronline,jdbcType=BIT}, #{fQuestion,jdbcType=VARCHAR}, #{fAnswerquestion,jdbcType=VARCHAR}, 
      #{fCheckipaddress,jdbcType=BIT}, #{fLanguage,jdbcType=VARCHAR}, #{fTheme,jdbcType=VARCHAR}, 
      #{passwordplaintext,jdbcType=VARCHAR}, #{passwordstatue,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ykxj.zfine.model.SysUserlogon">
    insert into sys_userlogon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_Id,
      </if>
      <if test="fUserid != null">
        F_UserId,
      </if>
      <if test="fUserpassword != null">
        F_UserPassword,
      </if>
      <if test="fUsersecretkey != null">
        F_UserSecretkey,
      </if>
      <if test="fAllowstarttime != null">
        F_AllowStartTime,
      </if>
      <if test="fAllowendtime != null">
        F_AllowEndTime,
      </if>
      <if test="fLockstartdate != null">
        F_LockStartDate,
      </if>
      <if test="fLockenddate != null">
        F_LockEndDate,
      </if>
      <if test="fFirstvisittime != null">
        F_FirstVisitTime,
      </if>
      <if test="fPreviousvisittime != null">
        F_PreviousVisitTime,
      </if>
      <if test="fLastvisittime != null">
        F_LastVisitTime,
      </if>
      <if test="fChangepassworddate != null">
        F_ChangePasswordDate,
      </if>
      <if test="fMultiuserlogin != null">
        F_MultiUserLogin,
      </if>
      <if test="fLogoncount != null">
        F_LogOnCount,
      </if>
      <if test="fUseronline != null">
        F_UserOnLine,
      </if>
      <if test="fQuestion != null">
        F_Question,
      </if>
      <if test="fAnswerquestion != null">
        F_AnswerQuestion,
      </if>
      <if test="fCheckipaddress != null">
        F_CheckIPAddress,
      </if>
      <if test="fLanguage != null">
        F_Language,
      </if>
      <if test="fTheme != null">
        F_Theme,
      </if>
      <if test="passwordplaintext != null">
        PasswordPlaintext,
      </if>
      <if test="passwordstatue != null">
        PasswordStatue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fUserid != null">
        #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fUserpassword != null">
        #{fUserpassword,jdbcType=VARCHAR},
      </if>
      <if test="fUsersecretkey != null">
        #{fUsersecretkey,jdbcType=VARCHAR},
      </if>
      <if test="fAllowstarttime != null">
        #{fAllowstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAllowendtime != null">
        #{fAllowendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockstartdate != null">
        #{fLockstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockenddate != null">
        #{fLockenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fFirstvisittime != null">
        #{fFirstvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPreviousvisittime != null">
        #{fPreviousvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastvisittime != null">
        #{fLastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fChangepassworddate != null">
        #{fChangepassworddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fMultiuserlogin != null">
        #{fMultiuserlogin,jdbcType=BIT},
      </if>
      <if test="fLogoncount != null">
        #{fLogoncount,jdbcType=INTEGER},
      </if>
      <if test="fUseronline != null">
        #{fUseronline,jdbcType=BIT},
      </if>
      <if test="fQuestion != null">
        #{fQuestion,jdbcType=VARCHAR},
      </if>
      <if test="fAnswerquestion != null">
        #{fAnswerquestion,jdbcType=VARCHAR},
      </if>
      <if test="fCheckipaddress != null">
        #{fCheckipaddress,jdbcType=BIT},
      </if>
      <if test="fLanguage != null">
        #{fLanguage,jdbcType=VARCHAR},
      </if>
      <if test="fTheme != null">
        #{fTheme,jdbcType=VARCHAR},
      </if>
      <if test="passwordplaintext != null">
        #{passwordplaintext,jdbcType=VARCHAR},
      </if>
      <if test="passwordstatue != null">
        #{passwordstatue,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ykxj.zfine.model.SysUserlogonExample" resultType="java.lang.Integer">
    select count(*) from sys_userlogon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_userlogon
    <set>
      <if test="record.fId != null">
        F_Id = #{record.fId,jdbcType=VARCHAR},
      </if>
      <if test="record.fUserid != null">
        F_UserId = #{record.fUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.fUserpassword != null">
        F_UserPassword = #{record.fUserpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.fUsersecretkey != null">
        F_UserSecretkey = #{record.fUsersecretkey,jdbcType=VARCHAR},
      </if>
      <if test="record.fAllowstarttime != null">
        F_AllowStartTime = #{record.fAllowstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fAllowendtime != null">
        F_AllowEndTime = #{record.fAllowendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fLockstartdate != null">
        F_LockStartDate = #{record.fLockstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fLockenddate != null">
        F_LockEndDate = #{record.fLockenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fFirstvisittime != null">
        F_FirstVisitTime = #{record.fFirstvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fPreviousvisittime != null">
        F_PreviousVisitTime = #{record.fPreviousvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fLastvisittime != null">
        F_LastVisitTime = #{record.fLastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fChangepassworddate != null">
        F_ChangePasswordDate = #{record.fChangepassworddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fMultiuserlogin != null">
        F_MultiUserLogin = #{record.fMultiuserlogin,jdbcType=BIT},
      </if>
      <if test="record.fLogoncount != null">
        F_LogOnCount = #{record.fLogoncount,jdbcType=INTEGER},
      </if>
      <if test="record.fUseronline != null">
        F_UserOnLine = #{record.fUseronline,jdbcType=BIT},
      </if>
      <if test="record.fQuestion != null">
        F_Question = #{record.fQuestion,jdbcType=VARCHAR},
      </if>
      <if test="record.fAnswerquestion != null">
        F_AnswerQuestion = #{record.fAnswerquestion,jdbcType=VARCHAR},
      </if>
      <if test="record.fCheckipaddress != null">
        F_CheckIPAddress = #{record.fCheckipaddress,jdbcType=BIT},
      </if>
      <if test="record.fLanguage != null">
        F_Language = #{record.fLanguage,jdbcType=VARCHAR},
      </if>
      <if test="record.fTheme != null">
        F_Theme = #{record.fTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordplaintext != null">
        PasswordPlaintext = #{record.passwordplaintext,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordstatue != null">
        PasswordStatue = #{record.passwordstatue,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_userlogon
    set F_Id = #{record.fId,jdbcType=VARCHAR},
      F_UserId = #{record.fUserid,jdbcType=VARCHAR},
      F_UserPassword = #{record.fUserpassword,jdbcType=VARCHAR},
      F_UserSecretkey = #{record.fUsersecretkey,jdbcType=VARCHAR},
      F_AllowStartTime = #{record.fAllowstarttime,jdbcType=TIMESTAMP},
      F_AllowEndTime = #{record.fAllowendtime,jdbcType=TIMESTAMP},
      F_LockStartDate = #{record.fLockstartdate,jdbcType=TIMESTAMP},
      F_LockEndDate = #{record.fLockenddate,jdbcType=TIMESTAMP},
      F_FirstVisitTime = #{record.fFirstvisittime,jdbcType=TIMESTAMP},
      F_PreviousVisitTime = #{record.fPreviousvisittime,jdbcType=TIMESTAMP},
      F_LastVisitTime = #{record.fLastvisittime,jdbcType=TIMESTAMP},
      F_ChangePasswordDate = #{record.fChangepassworddate,jdbcType=TIMESTAMP},
      F_MultiUserLogin = #{record.fMultiuserlogin,jdbcType=BIT},
      F_LogOnCount = #{record.fLogoncount,jdbcType=INTEGER},
      F_UserOnLine = #{record.fUseronline,jdbcType=BIT},
      F_Question = #{record.fQuestion,jdbcType=VARCHAR},
      F_AnswerQuestion = #{record.fAnswerquestion,jdbcType=VARCHAR},
      F_CheckIPAddress = #{record.fCheckipaddress,jdbcType=BIT},
      F_Language = #{record.fLanguage,jdbcType=VARCHAR},
      F_Theme = #{record.fTheme,jdbcType=VARCHAR},
      PasswordPlaintext = #{record.passwordplaintext,jdbcType=VARCHAR},
      PasswordStatue = #{record.passwordstatue,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ykxj.zfine.model.SysUserlogon">
    update sys_userlogon
    <set>
      <if test="fUserid != null">
        F_UserId = #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fUserpassword != null">
        F_UserPassword = #{fUserpassword,jdbcType=VARCHAR},
      </if>
      <if test="fUsersecretkey != null">
        F_UserSecretkey = #{fUsersecretkey,jdbcType=VARCHAR},
      </if>
      <if test="fAllowstarttime != null">
        F_AllowStartTime = #{fAllowstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAllowendtime != null">
        F_AllowEndTime = #{fAllowendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockstartdate != null">
        F_LockStartDate = #{fLockstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockenddate != null">
        F_LockEndDate = #{fLockenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fFirstvisittime != null">
        F_FirstVisitTime = #{fFirstvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPreviousvisittime != null">
        F_PreviousVisitTime = #{fPreviousvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastvisittime != null">
        F_LastVisitTime = #{fLastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fChangepassworddate != null">
        F_ChangePasswordDate = #{fChangepassworddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fMultiuserlogin != null">
        F_MultiUserLogin = #{fMultiuserlogin,jdbcType=BIT},
      </if>
      <if test="fLogoncount != null">
        F_LogOnCount = #{fLogoncount,jdbcType=INTEGER},
      </if>
      <if test="fUseronline != null">
        F_UserOnLine = #{fUseronline,jdbcType=BIT},
      </if>
      <if test="fQuestion != null">
        F_Question = #{fQuestion,jdbcType=VARCHAR},
      </if>
      <if test="fAnswerquestion != null">
        F_AnswerQuestion = #{fAnswerquestion,jdbcType=VARCHAR},
      </if>
      <if test="fCheckipaddress != null">
        F_CheckIPAddress = #{fCheckipaddress,jdbcType=BIT},
      </if>
      <if test="fLanguage != null">
        F_Language = #{fLanguage,jdbcType=VARCHAR},
      </if>
      <if test="fTheme != null">
        F_Theme = #{fTheme,jdbcType=VARCHAR},
      </if>
      <if test="passwordplaintext != null">
        PasswordPlaintext = #{passwordplaintext,jdbcType=VARCHAR},
      </if>
      <if test="passwordstatue != null">
        PasswordStatue = #{passwordstatue,jdbcType=BIT},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ykxj.zfine.model.SysUserlogon">
    update sys_userlogon
    set F_UserId = #{fUserid,jdbcType=VARCHAR},
      F_UserPassword = #{fUserpassword,jdbcType=VARCHAR},
      F_UserSecretkey = #{fUsersecretkey,jdbcType=VARCHAR},
      F_AllowStartTime = #{fAllowstarttime,jdbcType=TIMESTAMP},
      F_AllowEndTime = #{fAllowendtime,jdbcType=TIMESTAMP},
      F_LockStartDate = #{fLockstartdate,jdbcType=TIMESTAMP},
      F_LockEndDate = #{fLockenddate,jdbcType=TIMESTAMP},
      F_FirstVisitTime = #{fFirstvisittime,jdbcType=TIMESTAMP},
      F_PreviousVisitTime = #{fPreviousvisittime,jdbcType=TIMESTAMP},
      F_LastVisitTime = #{fLastvisittime,jdbcType=TIMESTAMP},
      F_ChangePasswordDate = #{fChangepassworddate,jdbcType=TIMESTAMP},
      F_MultiUserLogin = #{fMultiuserlogin,jdbcType=BIT},
      F_LogOnCount = #{fLogoncount,jdbcType=INTEGER},
      F_UserOnLine = #{fUseronline,jdbcType=BIT},
      F_Question = #{fQuestion,jdbcType=VARCHAR},
      F_AnswerQuestion = #{fAnswerquestion,jdbcType=VARCHAR},
      F_CheckIPAddress = #{fCheckipaddress,jdbcType=BIT},
      F_Language = #{fLanguage,jdbcType=VARCHAR},
      F_Theme = #{fTheme,jdbcType=VARCHAR},
      PasswordPlaintext = #{passwordplaintext,jdbcType=VARCHAR},
      PasswordStatue = #{passwordstatue,jdbcType=BIT}
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
</mapper>